{% extends "base.html" %}

{% block content %}
<div class="calendar-header">
    <h1>
        <button class="btn btn-link text-purple" id="prevMonth">&lt;</button>
        <span id="currentMonth"></span>
        <button class="btn btn-link text-purple" id="nextMonth">&gt;</button>
    </h1>
</div>

<div class="calendar-container">
    <div class="calendar-grid">
        <div class="calendar-days">
            <div>Dimanche</div>
            <div>Lundi</div>
            <div>Mardi</div>
            <div>Mercredi</div>
            <div>Jeudi</div>
            <div>Vendredi</div>
            <div>Samedi</div>
        </div>
        <div id="calendarDates" class="calendar-dates"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.translations = {{ trans|tojson|safe }};
window.userCanManageActivities = {{ current_user.can_manage_activities()|tojson|safe if current_user.is_authenticated else 'false' }};
</script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}
